# ANALYSE DES DONNEES DE VENTES

Vous trouverez les informations par rapport a ce jeu de donnees dans le fichier readme.md

In [116]:
# importatnion des bibliotheques
import pandas as pd 
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [117]:
# importation des donnees 
df1 = pd.read_csv('../data/Sales_January_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df2 = pd.read_csv('../data/Sales_February_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df3 = pd.read_csv('../data/Sales_March_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df4 = pd.read_csv('../data/Sales_April_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df5 = pd.read_csv('../data/Sales_May_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df6 = pd.read_csv('../data/Sales_June_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df7 = pd.read_csv('../data/Sales_July_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df8 = pd.read_csv('../data/Sales_August_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df9 = pd.read_csv('../data/Sales_September_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df10 = pd.read_csv('../data/Sales_October_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df11 = pd.read_csv('../data/Sales_November_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df12 = pd.read_csv('../data/Sales_December_2019.csv', index_col='Order Date', 
                 parse_dates=True)

In [118]:
# fonction de regroupement des data set
def data_set():
    iter_number = range(1, 13)
    empty_list = []
    for data in iter_number:
        dataframe = 'df' + str(data)
        empty_list.append(eval(dataframe))
    data_years = pd.concat(empty_list, axis=0, join='outer')
    return data_years

df = data_set()
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address
Order Date,,,,,
01/22/19 21:25,141234,iPhone,1,700,"944 Walnut St, Boston, MA 02215"
01/28/19 14:15,141235,Lightning Charging Cable,1,14.95,"185 Maple St, Portland, OR 97035"
01/17/19 13:33,141236,Wired Headphones,2,11.99,"538 Adams St, San Francisco, CA 94016"
01/05/19 20:33,141237,27in FHD Monitor,1,149.99,"738 10th St, Los Angeles, CA 90001"
01/25/19 11:59,141238,Wired Headphones,1,11.99,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...
12/11/19 20:58,319666,Lightning Charging Cable,1,14.95,"14 Madison St, San Francisco, CA 94016"
12/01/19 12:01,319667,AA Batteries (4-pack),2,3.84,"549 Willow St, Los Angeles, CA 90001"
12/09/19 06:43,319668,Vareebadd Phone,1,400,"273 Wilson St, Seattle, WA 98101"
12/03/19 10:39,319669,Wired Headphones,1,11.99,"778 River St, Dallas, TX 75001"
12/21/19 21:45,319670,Bose SoundSport Headphones,1,99.99,"747 Chestnut St, Los Angeles, CA 90001"

# Analyse de la forme et pretraitement des donnees

In [119]:
# les dimensions du data set
df.shape

(186850, 5)

In [120]:
# les types des colonnes
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Purchase Address    object
dtype: object

In [121]:
# les valeurs manquantes de chaque colonnes
df.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Purchase Address    545
dtype: int64

In [122]:
# la desciption des colonnes
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address
count,186305,186305,186305,186305,186305
unique,178438,20,10,24,140788
top,Order ID,USB-C Charging Cable,1,11.95,Purchase Address
freq,355,21903,168552,21903,355

### nous allons voir le contenu de chaque colonne

In [123]:
df['Product'].value_counts()

USB-C Charging Cable          21903
Lightning Charging Cable      21658
AAA Batteries (4-pack)        20641
AA Batteries (4-pack)         20577
Wired Headphones              18882
Apple Airpods Headphones      15549
Bose SoundSport Headphones    13325
27in FHD Monitor               7507
iPhone                         6842
27in 4K Gaming Monitor         6230
34in Ultrawide Monitor         6181
Google Phone                   5525
Flatscreen TV                  4800
Macbook Pro Laptop             4724
ThinkPad Laptop                4128
20in Monitor                   4101
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Product                         355
Name: Product, dtype: int64

In [124]:
df['Quantity Ordered'].value_counts()

1                   168552
2                    13324
3                     2920
4                      806
Quantity Ordered       355
5                      236
6                       80
7                       24
8                        5
9                        3
Name: Quantity Ordered, dtype: int64

In [125]:
df['Price Each'].value_counts()

11.95         21903
14.95         21658
2.99          20641
3.84          20577
11.99         18882
150           15450
99.99         13325
149.99         7507
700            6804
389.99         6230
379.99         6181
600            5490
300            4780
1700           4702
999.99         4128
109.99         4101
400            2056
600.0          1347
Price Each      355
150.0            99
700.0            38
1700.0           22
300.0            20
400.0             9
Name: Price Each, dtype: int64

In [126]:
df['Purchase Address'].value_counts()

Purchase Address                              355
193 Forest St, San Francisco, CA 94016          9
223 Elm St, Los Angeles, CA 90001               8
279 Sunset St, San Francisco, CA 94016          8
292 Washington St, San Francisco, CA 94016      7
                                             ...
444 Maple St, Boston, MA 02215                  1
622 Highland St, Los Angeles, CA 90001          1
399 Madison St, Austin, TX 73301                1
504 13th St, San Francisco, CA 94016            1
747 Chestnut St, Los Angeles, CA 90001          1
Name: Purchase Address, Length: 140788, dtype: int64

Remarque: il y a toujours une valeur qui apparait a chaque fois qu'on regarde le contenu total des valeurs de chaque colonne, nous allons devoir les suprimes.

In [127]:
# suspression des valeurs manquantes
df = df.dropna(axis=0)

In [128]:
df.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Purchase Address    0
dtype: int64

In [129]:
# la suspression des noms de colonnes qui apparaissent parmi les valeurs des colonnes
df['Product'] = df['Product'].replace(['Product'], [np.nan])

C:\Users\evil smile\AppData\Local\Temp\ipykernel_4000\2779031250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Product'] = df['Product'].replace(['Product'], [np.nan])

In [130]:
df['Product'].value_counts()

USB-C Charging Cable          21903
Lightning Charging Cable      21658
AAA Batteries (4-pack)        20641
AA Batteries (4-pack)         20577
Wired Headphones              18882
Apple Airpods Headphones      15549
Bose SoundSport Headphones    13325
27in FHD Monitor               7507
iPhone                         6842
27in 4K Gaming Monitor         6230
34in Ultrawide Monitor         6181
Google Phone                   5525
Flatscreen TV                  4800
Macbook Pro Laptop             4724
ThinkPad Laptop                4128
20in Monitor                   4101
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Name: Product, dtype: int64

In [131]:
df['Purchase Address'] = df['Purchase Address'].replace(['Purchase Address'], [np.nan])
df['Price Each'] = df['Price Each'].replace(['Price Each'], [np.nan])
df['Quantity Ordered'] = df['Quantity Ordered'].replace(['Quantity Ordered'], [np.nan])

C:\Users\evil smile\AppData\Local\Temp\ipykernel_4000\2980230363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Purchase Address'] = df['Purchase Address'].replace(['Purchase Address'], [np.nan])
C:\Users\evil smile\AppData\Local\Temp\ipykernel_4000\2980230363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price Each'] = df['Price Each'].replace(['Price Each'], [np.nan])
C:\Users\evil smile\AppData\Local\Temp\ipykernel_4000\2980230363.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quantity Ordered'] = df['Quantity Ordered'].replace(['Quantity Ordered'], [np.nan])

In [132]:
df.isna().sum()

Order ID              0
Product             355
Quantity Ordered    355
Price Each          355
Purchase Address    355
dtype: int64

In [133]:
# suspression de ces valeurs manquantes
df = df.dropna()

# Preparation du data set pour les differentes visualisations

In [134]:
# les types des colonnes
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Purchase Address    object
dtype: object

In [135]:
# changement des types de chaque colonnes
df = df.astype({'Quantity Ordered':float, 'Price Each':float})
df.dtypes

Order ID             object
Product              object
Quantity Ordered    float64
Price Each          float64
Purchase Address     object
dtype: object

In [136]:
# creation d'une nouvelle colonne pour les totaux des prix
df['Total Price'] = df['Price Each']*df['Quantity Ordered']

In [137]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Total Price
Order Date,,,,,,
01/22/19 21:25,141234,iPhone,1.0,700.00,"944 Walnut St, Boston, MA 02215",700.00
01/28/19 14:15,141235,Lightning Charging Cable,1.0,14.95,"185 Maple St, Portland, OR 97035",14.95
01/17/19 13:33,141236,Wired Headphones,2.0,11.99,"538 Adams St, San Francisco, CA 94016",23.98
01/05/19 20:33,141237,27in FHD Monitor,1.0,149.99,"738 10th St, Los Angeles, CA 90001",149.99
01/25/19 11:59,141238,Wired Headphones,1.0,11.99,"387 10th St, Austin, TX 73301",11.99
...,...,...,...,...,...,...
12/11/19 20:58,319666,Lightning Charging Cable,1.0,14.95,"14 Madison St, San Francisco, CA 94016",14.95
12/01/19 12:01,319667,AA Batteries (4-pack),2.0,3.84,"549 Willow St, Los Angeles, CA 90001",7.68
12/09/19 06:43,319668,Vareebadd Phone,1.0,400.00,"273 Wilson St, Seattle, WA 98101",400.00
12/03/19 10:39,319669,Wired Headphones,1.0,11.99,"778 River St, Dallas, TX 75001",11.99
12/21/19 21:45,319670,Bose SoundSport Headphones,1.0,99.99,"747 Chestnut St, Los Angeles, CA 90001",99.99

In [138]:
# suspression de la colonne Order ID
df = df.drop('Order ID', axis=1)

In [140]:
df.head(3)

,Product,Quantity Ordered,Price Each,Purchase Address,Total Price
Order Date,,,,,
01/22/19 21:25,iPhone,1.0,700.00,"944 Walnut St, Boston, MA 02215",700.00
01/28/19 14:15,Lightning Charging Cable,1.0,14.95,"185 Maple St, Portland, OR 97035",14.95
01/17/19 13:33,Wired Headphones,2.0,11.99,"538 Adams St, San Francisco, CA 94016",23.98

In [141]:
# creation d'une colonne contennant seulement les villes 
df['Town'] = df['Purchase Address'].apply(lambda x: x.split(',')[1])

In [142]:
df

,Product,Quantity Ordered,Price Each,Purchase Address,Total Price,Town
Order Date,,,,,,
01/22/19 21:25,iPhone,1.0,700.00,"944 Walnut St, Boston, MA 02215",700.00,Boston
01/28/19 14:15,Lightning Charging Cable,1.0,14.95,"185 Maple St, Portland, OR 97035",14.95,Portland
01/17/19 13:33,Wired Headphones,2.0,11.99,"538 Adams St, San Francisco, CA 94016",23.98,San Francisco
01/05/19 20:33,27in FHD Monitor,1.0,149.99,"738 10th St, Los Angeles, CA 90001",149.99,Los Angeles
01/25/19 11:59,Wired Headphones,1.0,11.99,"387 10th St, Austin, TX 73301",11.99,Austin
...,...,...,...,...,...,...
12/11/19 20:58,Lightning Charging Cable,1.0,14.95,"14 Madison St, San Francisco, CA 94016",14.95,San Francisco
12/01/19 12:01,AA Batteries (4-pack),2.0,3.84,"549 Willow St, Los Angeles, CA 90001",7.68,Los Angeles
12/09/19 06:43,Vareebadd Phone,1.0,400.00,"273 Wilson St, Seattle, WA 98101",400.00,Seattle
12/03/19 10:39,Wired Headphones,1.0,11.99,"778 River St, Dallas, TX 75001",11.99,Dallas
12/21/19 21:45,Bose SoundSport Headphones,1.0,99.99,"747 Chestnut St, Los Angeles, CA 90001",99.99,Los Angeles

In [143]:
df.Town.value_counts()

 San Francisco    44732
 Los Angeles      29605
 New York City    24876
 Boston           19934
 Atlanta          14881
 Dallas           14820
 Seattle          14732
 Portland         12465
 Austin            9905
Name: Town, dtype: int64

In [ ]:
fd