# ANALYSE DES DONNEES DE VENTES DU MOIS DE JANVIER

Vous trouverez les informations par rapport a ce jeu de donnees dans le fichier readme.md

In [1]:
# importatnion des bibliotheques
import pandas as pd 
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [26]:
# importation des donnees 
df1 = pd.read_csv('../data/Sales_January_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df2 = pd.read_csv('../data/Sales_February_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df3 = pd.read_csv('../data/Sales_March_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df4 = pd.read_csv('../data/Sales_April_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df5 = pd.read_csv('../data/Sales_May_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df6 = pd.read_csv('../data/Sales_June_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df7 = pd.read_csv('../data/Sales_July_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df8 = pd.read_csv('../data/Sales_August_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df9 = pd.read_csv('../data/Sales_September_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df10 = pd.read_csv('../data/Sales_October_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df11 = pd.read_csv('../data/Sales_November_2019.csv', index_col='Order Date', 
                 parse_dates=True)
df12 = pd.read_csv('../data/Sales_December_2019.csv', index_col='Order Date', 
                 parse_dates=True)

In [27]:
# fonction de regroupement des data set
def data_set():
    iter_number = range(1, 13)
    empty_list = []
    for data in iter_number:
        dataframe = 'df' + str(i)
        empty_list.append(eval(dataframe))
    data_years = pd.concat(empty_list, axis=0, join='outer')
    return data_years

df = data_set()
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address
Order Date,,,,,
12/30/19 00:01,295665,Macbook Pro Laptop,1,1700,"136 Church St, New York City, NY 10001"
12/29/19 07:03,295666,LG Washing Machine,1,600.0,"562 2nd St, New York City, NY 10001"
12/12/19 18:21,295667,USB-C Charging Cable,1,11.95,"277 Main St, New York City, NY 10001"
12/22/19 15:13,295668,27in FHD Monitor,1,149.99,"410 6th St, San Francisco, CA 94016"
12/18/19 12:38,295669,USB-C Charging Cable,1,11.95,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...
12/11/19 20:58,319666,Lightning Charging Cable,1,14.95,"14 Madison St, San Francisco, CA 94016"
12/01/19 12:01,319667,AA Batteries (4-pack),2,3.84,"549 Willow St, Los Angeles, CA 90001"
12/09/19 06:43,319668,Vareebadd Phone,1,400,"273 Wilson St, Seattle, WA 98101"
12/03/19 10:39,319669,Wired Headphones,1,11.99,"778 River St, Dallas, TX 75001"
12/21/19 21:45,319670,Bose SoundSport Headphones,1,99.99,"747 Chestnut St, Los Angeles, CA 90001"

# Analyse de la forme et pretraitement des donnees

In [28]:
# les dimensions du data set
df.shape

(301404, 5)

In [29]:
# les types des colonnes
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Purchase Address    object
dtype: object

In [30]:
# les valeurs manquantes de chaque colonnes
df.isna().sum()

Order ID            960
Product             960
Quantity Ordered    960
Price Each          960
Purchase Address    960
dtype: int64

In [31]:
# la desciption des colonnes
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address
count,300444,300444,300444,300444,300444
unique,24007,20,8,19,23215
top,Order ID,USB-C Charging Cable,1,11.95,Purchase Address
freq,576,35772,271692,35772,576